# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
.next/
out/
artifacts/
cache/
coverage/
typechain-types/

# env/secrets
.env
.env*.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/
.idea/

# file upload dev
/public/uploads/

/dokumen_demo
/.vscode